@import './quasar.variables.sass'
@import './mixin.sass'
#q-app
  height: 100vh
.q-layout
  min-height: 0 !important
  height: 100%
.q-page-container
  height: 100% !important
.q-layout >  .q-drawer-container:nth-child(3)
  display: none
  @include md
    display: block
